{
    "$schema": "https://json.schemastore.org/prettierrc",
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "semi": true,
    "bracketSpacing": true,
    "tabWidth": 4,
    "singleQuote": true,
    "printWidth": 180,
    "trailingComma": "all",
    "useTabs": false
}